.container {
  max-width: 960px;
  margin: auto;
}
header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightgray;
}
header > div {
  padding: 1rem;
}
.header_logo img {
  border-radius: 50%;
  width: 50px;
}
.header_name {
  flex-grow: 2;
  text-align: center;
  font-size: 2rem;
  font-weight: bolder;
}
.header_search_cart,
.header_search {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header_search input {
  border-radius: 5px;
  border: 1px solid lightgray;
  margin: 10px;
  padding: 5px;
  min-width: 200px;
}
.header_search input:focus {
  border: 1px solid gray;
}
.header_search img {
  width: 15px;
  position: relative;
  left: -30px;
}
.header_cart img {
  width: 25px;
  cursor: pointer;
}
.content {
  padding: 10px;
}
.slider_item img {
  width: -webkit-fill-available;
}
.slider_item {
  width: 100%;
  height: 400px;
  background-size: cover;
}
.slider_item a {
  display: block;
  padding: 20px;
  font-size: 25px;
  text-decoration: none;
  color: black;
  text-shadow: 1px 1px lightgrey;
  font-weight: bold;
}
.categories {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}
.categories a {
  text-decoration: none;
  color: black;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 10px;
}
.categories img {
  width: 150px;
  border-radius: 10px;
}
.categories {
  display: flex;
  flex-wrap: wrap;
}
.card {
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
  flex: 1 1 250px;
  max-width: 250px;
}
.card-img {
  width: 100%;
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.card-title {
  text-align: center;
  font-weight: bold;
  padding: 10px 0;
}
.card-footer {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
}
footer {
  text-align: center;
  padding-bottom: 20px;
  padding-top: 10px;
  border-top: 1px solid lightgray;
}
